/* 
    Document   : admin
    Created on : 18/03/2013, 10:14:26 AM
    Author     : richpolis
    Description:
        Purpose of the stylesheet follows.
*/

.galeria-item-li{
    width: 155px;
    height: 235px; 
}
