<div class="contenedor-decora-tu-pantalla">
    <div style="position: absolute; top: 45%; right: 30px; z-index: 1000;" class="galeria-control-derecha" >
        <img src="{{ asset('/bundles/richpolisgalmon/images/arrow_right.png') }}" />
    </div>
    <div style="position: absolute; top: 45%; left: 30px; z-index: 1000;" class="galeria-control-izquierda">
        <img src="{{ asset('/bundles/richpolisgalmon/images/arrow_left.png') }}" />
    </div>
    <div style="position: absolute; top: 90%; right: 10px; bottom: 10px; z-index: 1000; background-color: black; color: white;">
        Descargar!
    </div>    
    <ul id="galeria-decora-tu-pantalla">
        <li class="galeria-item">
            <img src="http://placehold.it/460x306" alt="">
        </li>
        <li class="galeria-item">
            <img src="http://placehold.it/460x306" alt="">
        </li>
    </ul>
</div>