<div class="contenedor-galeria-oficial">
    <div style="position: absolute; top: 80px; right: 0px; z-index: 1000;" class="galeria-control-derecha" >
            <img src="{{ asset('/bundles/richpolisgalmon/images/arrow_right.png') }}" />
    </div>
    <div class="contenedor-secundario">
        <ul id="galeria-galeria-oficial">
            <li class="galeria-item">
                <img src="http://placehold.it/145x175" alt="">
            </li>
            <li class="galeria-item">
                <img src="http://placehold.it/145x175" alt="">
            </li>
            <li class="galeria-item">
                <img src="http://placehold.it/145x175" alt="">
            </li>
            <li class="galeria-item">
                <img src="http://placehold.it/145x175" alt="">
            </li>
            <li class="galeria-item">
                <img src="http://placehold.it/145x175" alt="">
            </li>
            <li class="galeria-item">
                <img src="http://placehold.it/145x175" alt="">
            </li>
            <li class="galeria-item">
                <img src="http://placehold.it/145x175" alt="">
            </li>
            <li class="galeria-item">
                <img src="http://placehold.it/145x175" alt="">
            </li>
        </ul>
    </div>
    <div style="position: absolute; top: 80px; left: 0px; z-index: 1000;" class="galeria-control-izquierda">
            <img src="{{ asset('/bundles/richpolisgalmon/images/arrow_left.png') }}" />
    </div>
        
</div>
<div class="load-imagen" style="font-family: 'oswaldregular'; font-size: 16pt;">
  <p class="left" style=" padding-top: 20px;">
      Creemos juntos la galeria oficial! ¿Tomaste una foto en la tele o impresa? Súbela! 
  </p>
  <a class="rojo" href="#">
     <span style=" margin-top: 20px;">Ver Más!</span>
  </a>
</div>

