<div class="contenedor-galeria-tus-fotos">
    <div style="position: absolute; top: 50px; right: 0px; z-index: 1000;" class="galeria-control-derecha" >
            <img src="{{ asset('/bundles/richpolisgalmon/images/arrow_right.png') }}" />
    </div>
    <div class="contenedor-secundario">
        <ul id="galeria-tus-fotos">
            {% for galeria in galerias %}
            <li class="galeria-item">
                <img src="{{galeria.thumbnailWebPath}}" alt="">
            </li>
            {% endfor %}
        </ul>
    </div>
    <div style="position: absolute; top: 50px; left: 0px; z-index: 1000;" class="galeria-control-izquierda">
            <img src="{{ asset('/bundles/richpolisgalmon/images/arrow_left.png') }}" />
    </div>
        
</div>
<div style="clear: both;"></div>
<div class="load-imagen" style="background-color: black;font-family: 'oswaldregular';font-size: 16pt; ">
  <p class="left" style=" padding-top: 20px;">
      Sube tus fotos!! Agrega tu twiiter y facebook!!
  </p>
  <a class="rojo" href="javascript:showDialogModalRS('{{path('fans_categoria_galeria',{'categoria_id': categoria.id })}}');">
     <span style=" margin-top: 20px;">Ver Más!</span>
  </a>
</div>