<h1 style="font-family: 'oswaldregular'; font-size: 22pt;" class="color-azul-1">Video de la semana!</h1>
<div style="text-align: center;">
   <a href="{{video}}" rel="prettyPhoto" title="">
     <img style=" margin-top: 20px;" src="{{ asset('bundles/richpolisgalmon/images/reproducir.png') }}" alt="YouTube" />
   </a>
</div>
